In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
data = pd.read_csv('../data/Housing_raw.csv')
Xtrain,Xrest,ytrain,yrest = train_test_split(data.drop(columns=['price']),data['price'],test_size=0.4,random_state=42)
Xval,Xtest,yval,ytest = train_test_split(Xrest,yrest,test_size=0.5,random_state=42)

In [2]:
Xtrain.info()

<class 'pandas.core.frame.DataFrame'>
Index: 327 entries, 519 to 102
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   area              327 non-null    int64
 1   bedrooms          327 non-null    int64
 2   bathrooms         327 non-null    int64
 3   stories           327 non-null    int64
 4   mainroad          327 non-null    object
 5   guestroom         327 non-null    object
 6   basement          327 non-null    object
 7   hotwaterheating   327 non-null    object
 8   airconditioning   327 non-null    object
 9   parking           327 non-null    int64
 10  prefarea          327 non-null    object
 11  furnishingstatus  327 non-null    object
dtypes: int64(5), object(7)
memory usage: 33.2+ KB

In [3]:
Xtrain[Xtrain.select_dtypes(include=['object']).columns].nunique()

mainroad            2
guestroom           2
basement            2
hotwaterheating     2
airconditioning     2
prefarea            2
furnishingstatus    3
dtype: int64

In [4]:
Xtrain

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
519,4840,2,1,2,yes,no,no,no,no,0,no,unfurnished
118,6420,3,1,1,yes,no,yes,no,yes,0,yes,furnished
407,2145,3,1,3,yes,no,no,no,no,0,yes,furnished
114,6800,2,1,1,yes,yes,yes,no,no,2,no,furnished
515,3210,3,1,2,yes,no,yes,no,no,0,no,unfurnished
...,...,...,...,...,...,...,...,...,...,...,...,...
71,6000,4,2,4,yes,no,no,no,yes,0,no,unfurnished
106,5450,4,2,1,yes,no,yes,no,yes,0,yes,semi-furnished
270,4500,3,2,3,yes,no,no,yes,no,1,no,furnished
435,4040,2,1,1,yes,no,no,no,no,0,no,unfurnished
102,5500,3,2,4,yes,yes,no,no,yes,1,no,semi-furnished

In [5]:
def data_preprocessing(data_to_preprocess: pd.DataFrame) -> pd.DataFrame:
    data_to_preprocess = data_to_preprocess.copy()
    for numeric_column in data_to_preprocess.select_dtypes(include=['number']).columns:
        if numeric_column == 'price':
            data_to_preprocess[numeric_column] = data_to_preprocess[numeric_column].fillna(data[numeric_column].mean().round())
        else:
            data_to_preprocess[numeric_column] = data_to_preprocess[numeric_column].fillna(data_to_preprocess[numeric_column].mean().round())
        
    for categorical_column in data_to_preprocess.select_dtypes(include=['object']).columns:
        data_to_preprocess[categorical_column] = data_to_preprocess[categorical_column].fillna(Xtrain[categorical_column].mode()[0])
        if categorical_column == 'furnishingstatus':
            categories_order = ['unfurnished', 'semi-furnished', 'furnished']
        else:
            categories_order = ['no', 'yes']
        category = pd.api.types.CategoricalDtype(categories=categories_order, ordered=True)
        data_to_preprocess[categorical_column] = data_to_preprocess[categorical_column].astype(category).cat.codes.astype('int64')
    return data_to_preprocess

Xtrain = data_preprocessing(Xtrain)
Xval = data_preprocessing(Xval)
Xtest = data_preprocessing(Xtest)
data = data_preprocessing(data)

In [6]:
Xtrain.info()

<class 'pandas.core.frame.DataFrame'>
Index: 327 entries, 519 to 102
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   area              327 non-null    int64
 1   bedrooms          327 non-null    int64
 2   bathrooms         327 non-null    int64
 3   stories           327 non-null    int64
 4   mainroad          327 non-null    int64
 5   guestroom         327 non-null    int64
 6   basement          327 non-null    int64
 7   hotwaterheating   327 non-null    int64
 8   airconditioning   327 non-null    int64
 9   parking           327 non-null    int64
 10  prefarea          327 non-null    int64
 11  furnishingstatus  327 non-null    int64
dtypes: int64(12)
memory usage: 33.2 KB

In [7]:
Xtrain

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
519,4840,2,1,2,1,0,0,0,0,0,0,0
118,6420,3,1,1,1,0,1,0,1,0,1,2
407,2145,3,1,3,1,0,0,0,0,0,1,2
114,6800,2,1,1,1,1,1,0,0,2,0,2
515,3210,3,1,2,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
71,6000,4,2,4,1,0,0,0,1,0,0,0
106,5450,4,2,1,1,0,1,0,1,0,1,1
270,4500,3,2,3,1,0,0,1,0,1,0,2
435,4040,2,1,1,1,0,0,0,0,0,0,0
102,5500,3,2,4,1,1,0,0,1,1,0,1

In [8]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
standart_scaler = StandardScaler()
normal_scaler = MinMaxScaler()
Xtrain_standart = pd.DataFrame(standart_scaler.fit_transform(Xtrain), columns=Xtrain.columns)
Xval_standart = pd.DataFrame(standart_scaler.transform(Xval), columns=Xval.columns)
Xtest_standart = pd.DataFrame(standart_scaler.transform(Xtest), columns=Xtest.columns)
Xtrain_normal = pd.DataFrame(normal_scaler.fit_transform(Xtrain), columns=Xtrain.columns)
Xval_normal = pd.DataFrame(normal_scaler.transform(Xval), columns=Xval.columns)
Xtest_normal = pd.DataFrame(normal_scaler.transform(Xtest), columns=Xtest.columns)
standart_data = pd.DataFrame(standart_scaler.fit_transform(data), columns=data.columns)
normal_data = pd.DataFrame(normal_scaler.fit_transform(data), columns=data.columns)
standart_data.to_csv('../data/Housing_standart.csv', index=False)
normal_data.to_csv('../data/Housing_normal.csv', index=False)

In [ ]:
import sys
sys.path.append('../')
from src.linear_regression import LinearRegression
from src.knn import KNN
from sklearn.linear_model import LinearRegression as sklearn_LinearRegression
from sklearn.model_selection import ParameterGrid
from sklearn.neighbors import KNeighborsRegressor as sklearn_KNeighborsRegressor
from src.tree_regression import TreeRegression
from sklearn.tree import DecisionTreeRegressor as sklearn_DecisionTreeRegressor
def model_tuning(model_name,Xdata,Xvaldata,sklearn_model):
    if model_name == 'LinearRegression':
        if sklearn_model == False:
            parameters = {
                'solver': ['normal', 'gd'],
                'learning_rate': [0.001, 0.005, 0.01],
                'n_iters': [100, 200, 300]
            }
            parameters_grid = ParameterGrid(parameters)
            best_params = None
            best_score = 0
            for params in parameters_grid:
                model = LinearRegression(**params)
                model.fit(Xdata,ytrain)
                score = model.score(Xvaldata,yval)
                if score > best_score:
                    best_score = score
                    best_params = params
            print(f"Best score  for all variants in non-sklearn LinearRegression: {best_score}")
            print(f"Best params for all variants in non-sklearn LinearRegression: {best_params}")
            return best_params, best_score  
        else:
            model = sklearn_LinearRegression()
            model.fit(Xdata,ytrain)
            score = model.score(Xvaldata,yval)  
            print(f"Best score for all variants in sklearn LinearRegression: {score}")
            print(f"Best params for all variants in sklearn LinearRegression: {model.get_params()}")
            return model, score
    elif model_name == 'KNN':
        if sklearn_model == True:
            parameters = {
                'n_neighbors': [3, 5, 7],
                'p': [1, 2],
                'weights': ['uniform', 'distance']
            }
            parameters_grid = ParameterGrid(parameters)
            best_params = None
            best_score = 0
            for params in parameters_grid:
                model = sklearn_KNeighborsRegressor(**params)
                model.fit(Xdata,ytrain)
                score = model.score(Xvaldata,yval)
                if score > best_score:
                    best_score = score
                    best_params = params
            print(f"Best score for all variants in sklearn KNN: {best_score}")
            print(f"Best params for all variants in sklearn KNN: {best_params}")
            return best_params, best_score
        else:
            parameters = {
                'n_neighbors': [3, 5, 7],
                'p': [1, 2],
                'weights': ['uniform', 'distance'],
                'task_class': ['r']
            }
            parameters_grid = ParameterGrid(parameters)
            best_params = None
            best_score = 0
            for params in parameters_grid:
                model = KNN(**params)
                model.fit(Xdata,ytrain)
                score = model.score(Xvaldata,yval)
                if score > best_score:
                    best_score = score
                    best_params = params
            print(f"Best score for all variants in non-sklearn KNN: {best_score}")
            print(f"Best params for all variants in non-sklearn KNN: {best_params}")
            return best_params, best_score
    else:
        parameters = {
            'max_depth': range(2,10),
            'min_samples_split': [2, 3, 4,5],
            'criterion': ['squared_error', 'absolute_error']
        }
        parameters_grid = ParameterGrid(parameters)
        best_params = None
        best_score = 0
        for params in parameters_grid:
            if sklearn_model == True:
                model = sklearn_DecisionTreeRegressor(**params)
            else:
                model = TreeRegression(**params)
            model.fit(Xdata,ytrain)
            score = model.score(Xvaldata,yval)
            if score > best_score:
                best_score = score
                best_params = params
        if sklearn_model == True:
            print(f"Best score for all variants in sklearn TreeRegression: {best_score}")
            print(f"Best params for all variants in sklearn TreeRegression: {best_params}")
        else:
            print(f"Best score for all variants in non-sklearn TreeRegression: {best_score}")
            print(f"Best params for all variants in non-sklearn TreeRegression: {best_params}")
        return best_params, best_score

In [10]:
model_tuning('LinearRegression',Xtrain,Xval,True)

Best score  for all variants in non-sklearn LinearRegression: 1507326652067.5676
Best params for all variants in non-sklearn LinearRegression: {'learning_rate': 0.001, 'n_iters': 100, 'solver': 'normal'}

c:\Users\arsen\CoreMLBench\notebooks\..\src\linear_regression.py:40: RuntimeWarning: overflow encountered in matmul
  grad_w = (2/n_samples) * (X.T @ errors)
c:\Users\arsen\CoreMLBench\notebooks\..\src\linear_regression.py:40: RuntimeWarning: invalid value encountered in matmul
  grad_w = (2/n_samples) * (X.T @ errors)
c:\Users\arsen\CoreMLBench\notebooks\..\src\linear_regression.py:43: RuntimeWarning: invalid value encountered in subtract
  self.weights -= self.learning_rate * grad_w
C:\Users\arsen\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\numpy\_core\_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
c:\Users\arsen\CoreMLBench\notebooks\..\src\linear_regression.py:37: RuntimeWarning: invalid value encountered in matmul
  predictions = X @ self.weights + self.bias

({'learning_rate': 0.001, 'n_iters': 100, 'solver': 'normal'},
 np.float64(1507326652067.5676))

In [11]:
model_tuning('LinearRegression',Xtrain,Xval,False)

Best score for all variants in sklearn LinearRegression: 0.6720494865963879
Best params for all variants in sklearn LinearRegression: {'copy_X': True, 'fit_intercept': True, 'n_jobs': None, 'positive': False, 'tol': 1e-06}

(LinearRegression(), 0.6720494865963879)

In [12]:
model_tuning('KNN',Xtrain,Xval,True)

Best score for all variants in sklearn KNN: 0.48832600782639646
Best params for all variants in sklearn KNN: {'n_neighbors': 3, 'p': 1, 'weights': 'uniform'}

({'n_neighbors': 3, 'p': 1, 'weights': 'uniform'}, 0.48832600782639646)

In [13]:
model_tuning('KNN',Xtrain,Xval,False)

MSE score: 2347666010882.8745
MSE score: 2347666010882.8745
MSE score: 2414874967814.5767
MSE score: 2414874967814.5767
MSE score: 2580079390943.0093
MSE score: 2580079390943.0093
MSE score: 2584288194245.761
MSE score: 2584288194245.761
MSE score: 2797425067846.789
MSE score: 2797425067846.789
MSE score: 2832362705461.468
MSE score: 2832362705461.468
Best score for all variants in non-sklearn KNN: 2832362705461.468
Best params for all variants in non-sklearn KNN: {'n_neighbors': 7, 'p': 2, 'task_class': 'r', 'weights': 'uniform'}

({'n_neighbors': 7, 'p': 2, 'task_class': 'r', 'weights': 'uniform'},
 np.float64(2832362705461.468))

In [14]:
model_tuning('RegressionTree',Xtrain,Xval,True)

Best score for all variants in sklearn TreeRegression: 0.5288803391647945
Best params for all variants in sklearn TreeRegression: {'criterion': 'squared_error', 'max_depth': 5, 'min_samples_split': 3}

({'criterion': 'squared_error', 'max_depth': 5, 'min_samples_split': 3},
 0.5288803391647945)

In [ ]:
model_tuning('RegressionTree',Xtrain,Xval,False)

MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MSE score: 4596201531822.237
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
MAE score: 1659307.7855399374
Best score for all variants in non-sklearn TreeRegression: 4596201531822.237
Best params for all variants in non-sklearn TreeRegression: {'criterion': 'squared_error', 'max_depth': 2, 'min_samples_split': 2}

({'criterion': 'squared_error', 'max_depth': 2, 'min_samples_split': 2},
 np.float64(4596201531822.237))

: